.divider {
    width: 100%;
    height: 20rem;

    display: grid;
    grid-template-columns: 1fr;

    margin-bottom: 5rem;
}

.divider .divider-top {
    width:100%;
    height: 100%;


    background: linear-gradient(to left top, var(--color2) 49.99%, var(--color1) 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}

.divider .divider-middle {
    width: 100%;
    height: 100%;

    background-color: var(--color2);
}

.divider .divider-bottom {
    width:100%;
    height: 100%;


    background: linear-gradient(to right bottom, var(--color2) 49.99%, var(--color1) 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}