.header {
    width: 100%;
    height: var(--header-height);

    position: sticky;
    top: 0;

    z-index: 1;
}

.navbar {
    min-height: var(--header-height);
    background-color: var(--color3);
}

.header-title {
    margin-left: 1rem;
}

.nav-links {
    margin-left: 1rem;
}

.navbar-toggler {
    margin-right: 1rem;
}