.header {
    width: 100%;
    height: var(--header-height);

    position: sticky;
    top: 0;

    z-index: 1;

    box-shadow: 0 8px 14px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

.navbar {
    min-height: var(--header-height);
    background-color: var(--background-color);
}

.header-title {
    margin-left: 1rem;
}

.nav-links {
    margin-left: 1rem;
}

.navbar-toggler {
    margin-right: 1rem;
}